@keyframes in {
    0%   {
        margin-left: -20px;
        opacity: 0;
        display: none;
    }
    100%   {
        margin-left: 0;
        opacity: 1;
        display: block;
    }
}

@keyframes contentIn {
    0%   {
        opacity: 0;
        display: none;
    }
    100%   {
        opacity: 1;
        display: flex;
    }
}