
#content {
    flex: 1;
}

.team {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.members {
    display: flex;
    justify-content: center;
    align-items: center;
}

.team-member {
    display: flex;
    align-items: center;
    padding: 22px 22px;
    margin: 0 40px 20px;
    background: #eceff1;
    justify-content: space-around;
    color: white;
}

.member-image-container {
    margin: 0 40px 0 12px;
}

.member-image {
    width: 100px;
    vertical-align: middle;
    padding: 5px;
}
 
.member-info {
    align-self: flex-start;
    color: #212121;
    margin: 0 10px;
}

.member-name {
    white-space: nowrap;
    font-size: 28px;
    font-weight: 300;
    margin: 0 auto 15px;
}

.member-desc {
    color: #757575;
}

.member-link {
    white-space: nowrap;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26);
    padding: 8px 16px;
    display: inline-block;
    margin: 10px 0;
    background: #fff;
    color: #039be5;
    height: 36px;;
    min-width: 36px;
    border-radius: 2px;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    text-transform: uppercase;
    transition: background-color .2s,box-shadow .2s;
}

.member-link:hover {
    background-color: #e8e8e8;
}

.footer-text {
    text-align: center;
    padding: 10px;
    font-weight: 300;
    font-size: .9em;
    color: #757575;
}

@media (max-width: 940px) {
    .members {
        flex-direction: column;
    }

    .team-member {
        margin: 0 0 20px;
        width: calc(100vw - 15px);
    }
}