header {
    background-color: #455a64;
    width: 100%;
    height: 300px; /* This is temporary */
    box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
}

.products-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.heading {
    color: #757575;
    margin-bottom: 40px;
    font: 300 24px/32px Roboto,sans-serif;
    letter-spacing: -.01em;
    margin: 40px 0 20px;
    padding-bottom: 3px;
}

.product-item-link {
    color: #757575;
    display: inline-block;
    margin: 0 16px 32px;
    min-width: 112px;
    width: calc((100% - 320px)/6);
    vertical-align: top;
    text-align: center;
}

.product-item-link:hover {
    color: #039be5;
}

.product-icon {
    display: block;
    height: 48px;
    margin: 0 auto;
    width: 48px;
}

.product-name {
    font: 500 16px/24px Roboto,sans-serif;
    font-weight: 400;
    margin: 16px 0 0;
    overflow: visible;
}