.middle-buttons {
    margin: 5px;
}

.header-button {
    padding: 10px 18px;
    margin: 5px;
    background-color: $selector-color;
    border-radius: $block-br;
    width: 100%;
    @include box_shadow(1);
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: .8em;
    white-space: nowrap;
    color: $dark-bg-color;
    transition: $global-tr;
    animation: in;
    animation-duration: .6s;
    animation-delay: .8s;
    animation-fill-mode: both;
    opacity: 1;

    svg {
        width: 20px;
    }

    &:hover {
        background-color: lighten($selector-color, 15%);
    }
}
