@import './header-tabs';
@import './header-buttons';

.header {
    width: 100%;
    background-color: #37474F;
    min-height: 280px;
    padding: $container-padding;
    color: #f5f5f5;
}

.header-upper-bar {
    animation: in;
    animation-duration: .6s;
    animation-delay: .4s;
    animation-fill-mode: both;
    opacity: 1;
}

.header-upper-bar-image {
    width: 220px;
}

.header-middle {
    margin: 45px 0;
    color: currentColor;
    justify-content: space-between;
}

.header-middle-title {
    font-weight: $fw-thin;
    margin: 10px 0;
    white-space: nowrap;
}

.middle-titles {
    opacity: 0;
    transform: translateY(-10px);
    display: none;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

.title-active {
    animation: in;
    animation-duration: .6s;
    animation-delay: .2s;
    animation-fill-mode: both;
    display: block;
    opacity: 1;
}

.scramble-text, .header-middle-desc {
    color: #bdbdbd;
}

.parallax-wrapper {
    position: absolute;
    overflow: hidden;
    width: 100%;

    img {
        max-width: 1700px;
    }
}
