/* Sections animation */
@keyframes in {
    0%   {
        opacity: 0;
        display: none;
         transform: translateY(-10px);
    }
    100%   {
        opacity: 1;
        display: block;
        transform: translateY(0px);
    }
}

/* Loader animations */
@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35px;
    }
    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124px;
    }
}

@keyframes color {
    100%,
    0% {
        stroke: $loader-red;
    }
    40% {
        stroke: $loader-blue;
    }
    66% {
        stroke: $loader-green;
    }
    80%,
    90% {
        stroke: $loader-yellow;
    }
}

/* Glorious MD ripple */
@keyframes ripple {
    100% {
        opacity: 0; 
        transform: scale(2.5);
    }
}
