.footer {
    margin-top: 15px;
    font-size: .90em;
    padding: 5px;
    color: #757575;
    z-index: 25;
}

.footer-link {
    display: inline-block;
    color: $selector-color;
    transition: $global-tr;

    &:hover {
        color: lighten($selector-color, 15%);
    }
}
