@media (max-width: 1370px) {
    .header, 
    .content-wrapper {
         padding: $container-padding-s;
    }

    .team-member {
        width: 80%;
    }
}

@media (max-width: 1125px) {
    .header, 
    .content-wrapper {
         padding: $container-padding-xs;
    }
}

@media (max-width: 1010px) {
    #home, #contact {
        flex-direction: column;
    }

    .manual-links {
        text-align: center;
    }

    .contact-choice-text-wrapper {
        margin: 25px 0;
    }

    .blog-feed {
        margin: 0 0 20px 0;
    }

    .entry-name{
        font-size: .9em;
    }

    .left-side {
         max-width: none;
    }

    .right-side {
        margin-top: 45px;
    }

    .recent-projects {
        margin-right: 0;
    }

    .team-member, 
    .team-member:nth-child(even) {
        flex-direction: column;
        text-align: center;
    }
    
    .arrow, 
    .arrow-to-left {
        transform: rotate(90deg);
    }
}

@media (max-width: 640px) {
    .header-middle {
         flex-direction: column;
         text-align: center;
         margin: 15px 0;
    }

    .team-member {
        width: 100%;
    }
}


@media (max-width: 585px) {
    #header, 
    .content-wrapper {
        padding: $container-padding-xxs;
    }

    .blog-feed {
        border-radius: 0;
    }

    .block-title {
        margin-left: 15px;
    }

    .recent-projects {
        margin-right: 0;
        border-radius: 0; 
    }

    .recent-project-desc {
        display: none;
    }

    .header-navigation-tabs {
        position: fixed;
        bottom: 0;
        z-index: 999;
        left: 0;
        right: 0;
        background-color: rgba(38,50,56, .9);
    }

    .header-tab {
        letter-spacing: normal;
        font-size: .8em;
    }

    .footer {
        margin-bottom: 40px;
    }
}
