.recent-projects {
    color: rgb(69,90,100);
    border-radius: $block-br;
    margin-right: 50px;
}

.recent-project {
    padding: 15px;
    justify-content: space-between;

    &:not(:last-child) {
        border-bottom: 1px solid rgba(0, 0, 0,.1);
    }
}

.project-icon {
    max-width: 24px;
    height: auto;
}

.recent-project-name {
    font-weight: $fw-thin;
    font-size: 1.2em;
}

.recent-project-desc {
    font-size: .9em;
    font-weight: $fw-thin;
    margin-left: 30px;
}

.recent-project-link {
    position: relative;
    height: 100%;
    padding: 10px;
    margin: 0 10px;
    border-radius: $block-br;
    transition: $global-tr;

    svg {
        width: 26px;
        path {
            fill: lighten(rgb(69,90,100), 20%);
        }
    }

    &:hover {
        background-color: lighten(rgb(69,90,100), 60%);
    }
}
