@import './home/home';
@import './team/team';
@import './contact/contact';

body {
    min-height: 100vh;
}

.content-wrapper {
    padding: $container-padding;
    flex: 1;
    overflow: hidden;
    z-index: 5;
    background-color: white;
}

.section {
    justify-content: space-between;
    width: 100%;
    height: 100%;
    opacity: 0;
    display: none;

    &.section-active {
        animation: in;
        animation-duration: .6s;
        animation-delay: .4s;
        animation-fill-mode: both;
        opacity: 1;
        display: flex;
    }
}

.block-title {
    font-weight: $fw-normal;
    font-size: 1.1em;
    color: #424242;
}

.left-side {
    width: 100%;
    max-width: 780px;
}
