@import './home/home';
@import './team/team';
@import './contact/contact';
@import './not-found';

body {
    min-height: 100vh;
}

.content-wrapper {
    padding: $container-padding;
    flex: 1;
    overflow: hidden;
    z-index: 5;
    background-color: white;
}

.section {
    justify-content: space-between;
    width: 100%;
    height: 100%;
    opacity: 0;
    display: none;

    &.section-active {
        animation: in;
        animation-duration: .6s;
        animation-delay: .4s;
        animation-fill-mode: both;
        opacity: 1;
        display: flex;
    }
}

.block-title {
    font-weight: 400;
    font-size: 1em;
    color: darken($selector-color, 4%);
    justify-content: flex-start;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    
    svg {
        width: 22px;
    }

    path {
        fill: lighten(#B0BEC5, 5%);
    }
}

.right-side {
    .block-title {
        margin-bottom: 15px;
    }
}

.left-side {
    width: 100%;
    max-width: 780px;
}
