@import 'form';
@import 'loader';

#contact {
    justify-content: space-around;
}

.contact-form-wrapper {
    padding: 24px;
    transition: $global-tr;
    border-radius: $block-br;
    width: 100%;
    max-width: 800px;
}
