// Form
.contact-form {
    width: 100%;
}

.contact-form-input,
.contact-form-textarea {
    position: relative;
    margin-bottom: 8px;
}

label {
    width: 100%;
    max-width: 20em;
    flex-wrap: wrap;
    font-weight: $fw-thin;
    position: absolute;
    top: 12px;
    cursor: text;
    transition: $global-tr;
}

input, textarea {
    flex-grow: 1;
    font-size: 1rem;
    font-weight: $fw-thin;
    display: block;
    margin: 0;
    border: none;
    padding: 0.5em 0;
    line-height: 1;
    outline: none;
    font-family: inherit;
}

textarea {
    resize: vertical;
    height: auto;
    max-height: 680px;
}

.validation {
    height: 30px;
    font-size: .8em;
    font-weight: $fw-thin;
}

.line {
    width: 100%;
    height: 2px;
    stroke: $input-color;
    stroke-width: 2px;
}

.line .focus,
.line .valid,
.line .error {
    transition: all 0.25s;
    stroke-dasharray: 0, 20;
    stroke-dashoffset: -20;
}

.line .focus {
    stroke: $input-color-focus;
}

.line .valid,
.validation.valid {
    stroke: $input-color-valid;
    color: $input-color-valid;
}

.line .error,
.validation.error {
    stroke: $input-color-error;
    color: $input-color-error;
}

input:focus ~ .line .focus,
input.valid ~ .line .valid,
input.error ~ .line .error,
textarea:focus ~ .line .focus,
textarea.valid ~ .line .valid,
textarea.error ~ .line .error {
    stroke-dasharray: 40, 0;
    stroke-dashoffset: 0;
}

.recap-label {
    font-size: .8em;
    font-weight: $fw-thin;
    margin: 10px 0;
}

input:focus~label,
textarea:focus~label,
label.has-content {
    top: -16px;
    transform: scale(0.8) translateX(-40px);
    color: $input-color;
}

.payload-status {
    display: none;
    color: $input-color-valid;
    font-weight: $fw-thin;
}

.cf-send {
    background-color: rgba(32, 50, 62, .7);
    color: #fff;
    border-radius: $block-br;
    padding: 8px;
    min-width: 250px;
    margin-right: 25px;
    @include box_shadow(1);
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    transition: $global-tr;

    &:hover {
        background-color: lighten(rgba(32, 50, 62, .7), 15%);
        @include box_shadow(2);
    }
}
